@import "tailwindcss";

@theme {
    --color-primary: #0B0F0E;
    --color-sticker: oklch(0.15 0 0);
    --color-sticker-light: oklch(0.2 0 0);
    --color-sticker-lighter: oklch(0.35 0 0);
    --color-border-sticker-lighter: oklch(0.55 0 0);
    --color-secondary: oklch(0.2432 0.0067 178.64);
    --color-text-primary: oklch(1 0 0);
    --color-text-secondary: oklch(0.9 0 0);
    --color-cta: oklch(0.7096 0.2738 147.7);
    --color-cta-dark: oklch(0.6096 0.2738 147.7);
    --color-cta-darker: oklch(0.5096 0.2738 147.7);
};

html {
    scroll-padding-top: 128px;
}

#contact {
    scroll-margin-top: 64px;
}

header {
    @apply backdrop-blur-lg
}

button {
    @apply hover:cursor-pointer
}

/* SINGLE ITEMS */

#grad-wrapper {
    background: #0B0F0E;
    background: linear-gradient(130deg, rgba(11, 15, 14, 1) 25%, rgba(0, 1, 0, 1) 45%, rgba(107, 255, 137, 1) 75%, rgba(0, 1, 0, 1) 90%);
}

#grad-wrapper-2 {
    background: #6BFF89;
    background: radial-gradient(circle, rgba(107, 255, 137, 1) 0%, rgba(11, 15, 14, 1) 60%);
};

.sticker {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 24px 8px;
}

.vision {
    @apply cursor-default
}

@media (width > 768px) {
    .vision:hover {
        box-shadow: var(--color-cta-darker) 0px 0px 24px 4px;
    }; 
};

/* HAM MENU */

#ham-menu {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
};

#ham-menu-btn {
  height: 22px;
  width: 28px;
  cursor: pointer;
};

#ham-menu-btn span {
    @apply transition-all bg-white absolute duration-300 rounded-full left-0 h-0.75 w-full
};

#ham-menu-btn span:nth-child(1) {
    top: 0;
};

#ham-menu-btn span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
};

#ham-menu-btn span:nth-child(3) {
    bottom: 0;
};

#ham-menu-btn.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
};

#ham-menu-btn.active span:nth-child(2) {
    opacity: 0;
};

#ham-menu-btn.active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
};

/* NAVBAR */

#navbar > a:not(.contact)::after {
    content: "";
    @apply scale-x-0 bg-text-primary absolute transition-all duration-300 right-0 bottom-0 h-0.5 w-full
}

#navbar > a:hover::after, #navbar > a.active::after {
    @apply scale-x-100
}

/* HERO */

#cta-hero:hover, .contact:hover, #send:hover {
    box-shadow: var(--color-cta-darker) 0 0 16px 6px;
}

/* PRESENT */

#present {
    @apply px-[4%] md:px-[8%]
}

/* ICONS WRAPPER */

#icons-wrapper::before {
    position: absolute;
    border-bottom-left-radius: 12px;
    content: "";
    left: 0;
    z-index: 100;
    height: 100%;
    width: 7dvw;
    background: linear-gradient(
        to right,
        rgba(11, 11, 11, 1),
        rgba(11, 11, 11, 0.7),
        rgba(11, 11, 11, 0.4),
        rgba(11, 11, 11, 0.05)
    );
};

#icons-wrapper::after {
    position: absolute;
    border-bottom-right-radius: 12px;
    content: "";
    right: 0;
    z-index: 100;
    height: 100%;
    width: 7dvw;
    background: linear-gradient(
        to left,
        rgba(11, 11, 11, 1),
        rgba(11, 11, 11, 0.7),
        rgba(11, 11, 11, 0.4),
        rgba(11, 11, 11, 0.05)
    )
};


/* SERVICES */

.card-wrapper {
    @apply aspect-square transition-transform hover:-translate-y-4 perspective-midrange;
    &:hover .card {
        @apply rotate-y-180;
    };
};

.card {
    @apply transform-3d transition-transform duration-400;
};

.front-card, .back-card {
    @apply aspect-square border-2 backface-hidden bg-sticker border-cta md:border-sticker-light md:hover:border-cta rounded-xl transition-shadow duration-200;
};

.front-card {
    @apply text-3xl flex flex-col items-center justify-center gap-4 font-[coolvetica]
}

.back-card {
    box-shadow: var(--color-cta-darker) 0px 0px 24px 4px;
    @apply font-[Red_Hat_Text] font-medium text-lg text-center px-2
}

.front-card:hover {
    box-shadow: var(--color-cta-darker) 0px 0px 24px 4px;
};

.back-card {
    @apply md:border-cta;
};

.mobile-service-card {
    @apply bg-sticker absolute inset-0 aspect-square rounded-xl border-2 border-cta w-[95%] left-1/2 top-1/2 -translate-x-1/2 transition-transform duration-400;
};

/* PORTFOLIO */

#portfolio {
    padding: 0 !important
}

.paused {
    animation-play-state: paused !important;
};

#carousel-top {
    animation: carousel-right 15s linear infinite;
    @media (width > 1024px) {
        animation: carousel-right 20s linear infinite;
    };
};

#carousel-bottom {
    animation: carousel-right 15s linear infinite reverse;
    @media (width > 1024px) {
        animation: carousel-right 20s linear infinite reverse;
    };
};

.overlay-carousel {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 95%);
    @apply absolute inset-0 top-0 bottom-0;
};

.carousel-vid {
    @apply relative transition-transform duration-200 rounded-2xl w-44 sm:w-52 md:w-58 lg:w-62 z-5;
};

.carousel-vid:hover {
    @apply scale-105;
};

/* FORM */

#form-wrapper input {
    outline: none;
    @apply mt-0.5 rounded-md text-text-secondary text-lg;
};

.input-error {
    @apply border-red-500 text-red-500;
};

/* SOCIAL */

.social {
    @apply bg-sticker-lighter/50 backdrop-blur-xl aspect-square border border-border-sticker-lighter rounded-[50%] p-1.5 transition-all duration-200 flex items-center justify-center
}

.social:hover {
    @apply rounded-2xl -translate-y-4
};

.social-icon {
    color: var(--color-text-primary);
    @apply transition-all duration-300 w-full h-full;
}

.social #whatsapp {
    @apply text-cta sm:text-white
};

.social #ttk {
    @apply h-10
};

.social:hover #whatsapp {
    color: var(--color-cta);
}

.std {
    @apply opacity-0 sm:opacity-100
}

.col {
    @apply opacity-100 sm:opacity-0 left-1/2 -translate-1/2 top-1/2
}

.social:hover .std {
    opacity: 0;
};

.social:hover .col {
    opacity: 1;
};

.social:hover {
    #fpath {
        fill: #1877f2;
    };
    #spath {
        fill: white;
    };
}

#fpath, #spath {
    @apply transition-colors duration-300
}

#fpath {
    @apply fill-[#1877f2] sm:fill-white;
}

#spath {
    @apply fill-white sm:fill-none
}



@keyframes carousel-right {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-50%);
    }
};

@media (width >= 524px) {
    .mobile-service-card {
        @apply w-[80%]
    }
}